In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime

# Study data files
election_metadata = "MITResults.csv"
state_votes_metadata = "votes_by_state.csv"

# Read the data and the study results
election_metadata = pd.read_csv(election_metadata)
state_votes_metadata = pd.read_csv(state_votes_metadata)

In [2]:
election_metadata.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,NaN
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,NaN
2,1976,Alabama,AL,1,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,NaN
3,1976,Alabama,AL,1,63,41,US President,"Bubar, Benjamin \\""Ben\""\""""",prohibition,False,6669,1182850,20171015,NaN
4,1976,Alabama,AL,1,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,NaN

In [3]:
state_votes_metadata.head()

,Unnamed: 0,Election_Year,Unnamed: 2,State,Unnamed: 4,Unnamed: 5,Candidate_Name,Unnamed: 7,Unnamed: 8,Party_Affiliation,Unnamed: 10,Votes,Unnamed: 12,SQL_Insert
0,(,2012,"""",AL,"""","""","Obama, Barack","""","""",democrat,"""",793620,"),","(2012,""AL"",""Obama, Barack"",""democrat"",793620),"
1,(,2012,"""",AL,"""","""","Romney, Mitt","""","""",republican,"""",1252453,"),","(2012,""AL"",""Romney, Mitt"",""republican"",1252453),"
2,(,2012,"""",AR,"""","""","Obama, Barack","""","""",democrat,"""",391953,"),","(2012,""AR"",""Obama, Barack"",""democrat"",391953),"
3,(,2012,"""",AR,"""","""","Romney, Mitt","""","""",republican,"""",643717,"),","(2012,""AR"",""Romney, Mitt"",""republican"",643717),"
4,(,2012,"""",AZ,"""","""","Obama, Barack","""","""",democrat,"""",900081,"),","(2012,""AZ"",""Obama, Barack"",""democrat"",900081),"

In [4]:
#count demo & republicans
election_metadata.groupby(["totalvotes","candidatevotes"]).count()

                           year  state  state_po  state_fips  state_cen  \
totalvotes candidatevotes
123574     1176               1      1         1           1          1
           6785               1      1         1           1          1
           44058              1      1         1           1          1
           71555              1      1         1           1          1
156343     1387               1      1         1           1          1
...                         ...    ...       ...         ...        ...
14181595   120739             1      1         1           1          1
           278657             1      1         1           1          1
           478500             1      1         1           1          1
           4483810            1      1         1           1          1
           8753788            1      1         1           1          1

                           state_ic  office  candidate  party  writein  \
totalvotes candidatevotes
123574     1176                   1       1          0      0        1
           6785                   1       1          1      1        1
           44058                  1       1          1      1        1
           71555                  1       1          1      1        1
156343     1387                   1       1          0      0        1
...                             ...     ...        ...    ...      ...
14181595   120739                 1       1          0      0        1
           278657                 1       1          1      1        1
           478500                 1       1          1      1        1
           4483810                1       1          1      1        1
           8753788                1       1          1      1        1

                           version  notes
totalvotes candidatevotes
123574     1176                  1      0
           6785                  1      0
           44058                 1      0
           71555                 1      0
156343     1387                  1      0
...                            ...    ...
14181595   120739                1      0
           278657                1      0
           478500                1      0
           4483810               1      0
           8753788               1      0

[3739 rows x 12 columns]

In [5]:
#state_votes_metadata = pd.read_csv(state_votes_metadata)
state_votes_metadata.reset_index(inplace = True)
state_votes_metadata = state_votes_metadata.rename(columns = {'office':'office they are running for',
                                                    'candidate':'name of candidate'})

In [6]:
state_votes_metadata

,index,Unnamed: 0,Election_Year,Unnamed: 2,State,Unnamed: 4,Unnamed: 5,Candidate_Name,Unnamed: 7,Unnamed: 8,Party_Affiliation,Unnamed: 10,Votes,Unnamed: 12,SQL_Insert
0,0,(,2012,"""",AL,"""","""","Obama, Barack","""","""",democrat,"""",793620,"),","(2012,""AL"",""Obama, Barack"",""democrat"",793620),"
1,1,(,2012,"""",AL,"""","""","Romney, Mitt","""","""",republican,"""",1252453,"),","(2012,""AL"",""Romney, Mitt"",""republican"",1252453),"
2,2,(,2012,"""",AR,"""","""","Obama, Barack","""","""",democrat,"""",391953,"),","(2012,""AR"",""Obama, Barack"",""democrat"",391953),"
3,3,(,2012,"""",AR,"""","""","Romney, Mitt","""","""",republican,"""",643717,"),","(2012,""AR"",""Romney, Mitt"",""republican"",643717),"
4,4,(,2012,"""",AZ,"""","""","Obama, Barack","""","""",democrat,"""",900081,"),","(2012,""AZ"",""Obama, Barack"",""democrat"",900081),"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,(,2016,"""",WI,"""","""","Trump, Donald","""","""",republican,"""",1409467,"),","(2016,""WI"",""Trump, Donald"",""republican"",1409467),"
196,196,(,2016,"""",WV,"""","""","Clinton, Hillary","""","""",democrat,"""",187457,"),","(2016,""WV"",""Clinton, Hillary"",""democrat"",187457),"
197,197,(,2016,"""",WV,"""","""","Trump, Donald","""","""",republican,"""",486198,"),","(2016,""WV"",""Trump, Donald"",""republican"",486198),"
198,198,(,2016,"""",WY,"""","""","Clinton, Hillary","""","""",democrat,"""",55949,"),","(2016,""WY"",""Clinton, Hillary"",""democrat"",55949),"
199,199,(,2016,"""",WY,"""","""","Trump, Donald","""","""",republican,"""",174248,"),","(2016,""WY"",""Trump, Donald"",""republican"",174248),"

In [9]:
engine = create_engine(f'sqlite://{state_votes_metadata}')

ValueError: invalid literal for int() with base 10: ' 0  Election_Year Unnamed: 2 State Unnamed: 4 Unnamed: 5  \\\n0        0          (           2012          "    AL          "          "   \n1        1          (           2012          "    AL